@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif; */

@font-face {
    font-family: 'tgothic';
    src: url(../font/TgothicBlack.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'tgothic';
    src: url(../font/TgothicMedium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'tgothic';
    src: url(../font/TgothicLight.ttf);
    font-weight: 400;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    border: 0;
    width: 100%;
}

html, body, header, section, div, h1, h2, p, form, input, button{
    font-family: 'tgothic', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 1;
    letter-spacing: -0.025em;
}

input{
    padding: 0;
    margin: 0;
    border: 0;
}

button{
    display: block;
    border: 0;
    background: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
}

.wrap{
    position: relative;
    max-width: 480px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #CCC;
}

#header{
    box-sizing: border-box;
}

.topLogo{    
    height: 70px;
    display: flex;    
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 14px;
}

.topLogo img {
    height: 40px;
    max-width: 100px;
}

#content{
    background: #f4f3ef;
}

.titleBox{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f87266;
    border-radius: 0 0 30px 30px;
}

.title{
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 10vh;
}

.titleImg{
    display: block;
    width: 40px;
    padding-bottom: 15px;
}

.titleText{
    font-size: 16.5px;
    font-weight: 500;
    line-height: 1.3em;
    color: #fff;
    text-align: center;
}
.formBox{
    width: 100%;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background: #f4f3ef;
}

.formBox > p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2vh;
}

.inputBox{
    padding-bottom: 16px;
}

.input-password{
    width: 100%;
    height: 52px;
    color: #801230;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 25px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.formBox input::placeholder{
    color: #801230;
}

.valiBox{
    margin-top: 1vh;
    height: 23px;
}

.vailText{
    font-size: 9.5px;
    font-weight: 400;
    color: #f76b5a;;
    line-height: 1.6em;
    display: none;
}

.vailText.error{
    display: block;
}

.PWguide h2{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2vh;
}

.PWguide p{
    font-size: 9.5px;
    line-height: 1.3em;
    font-weight: 400;
}

.showPwBox{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 4vh;
    padding-top: 4vh;
}

.showPwBox input[type=checkbox]{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 10px;
    margin-right: 6px;
    padding: 0;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.showPwBox input[type=checkbox]:checked::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: #f76b5a;
}

.showPwBox input[type=checkbox]+label{
    font-size: 12px;
    height: 20px;
    font-weight: 500;
    display: inline-block;
}

.btnBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid #CCC; */
    padding-bottom: 30px;
}

.pwBtn{
    position: relative;
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #1d1d1b;
}

.pwBtn.cancel::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 20px;
    background-color: #999;
}

.pwBtn.deactive{
    color: #cecece;
}

/* 준비화면 */
.splash-screen.on {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    max-width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-screen {
    display: none;
}

.splash-screen > img {
    width: 100%;
    max-width: 480px;
}